body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: 9195F6;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 1200px;
    color: #333;
    margin: 20px auto;
    padding: 20px;
}